body {
  font-family: "Gill Sans", sans-serif;
  color: #333;
  background: #fbfbfb;
}

div#lander {
  position: relative;
  width: 600px;
  text-align: center;
  margin: 200px auto;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
}

h4 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}

p {
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: #6f9735;
}
a:hover {
  color: #1d657f;
  text-decoration: underline;
}
